<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jejo Frontend Test | Login</title>
        <link rel="icon" href="favicon_saschegg.ico">
        <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.min.css">
    </head>

    <body>
        <div id="root">
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand">Navbar</a>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </nav>
            <div class="container">
                <div class="login-box card rounded p-3 mt-5 mx-auto border-0 shadow ">
                    <h1 class="mb-3">Login</h1>
                    <form method="POST" action="login" id="loginForm">
                        <div class="mb-3">
                            <label for="login" class="form-label">Username</label>
                            <input type="username" name="login" class="form-control" id="login" placeholder="Enter username" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" id="password" placeholder="Enter password" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg w-100">LOGIN</button>
                    </form>
                </div>
            </div>
        </div>
        <script src="js/jquery-3.6.0.min.js"></script>
    </body>

</html>
