html {
    height: 100vh;
    nav {
        box-shadow: 0 2px 8px #0000002e;
        padding: 0 3rem;
    }
}

.login-box {
    max-width: 400px;
}
.register-box {
    max-width: 640px;
}

label {
    &.is-valid,
    &.is-invalid {
        width: 100%;
        margin-top: 0.25rem;
        font-size: 0.875em;
    }
    &.is-invalid {
        color: #dc3545;
    }
    &.is-valid {
        color: #198754;
    }
}
